{{> head }}
      {{> nav_bar }}
    <div class="row">
        <div class="col-8">
            <h1>Usuarios registrados</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, temporibus numquam quaerat officiis hic vitae dolorum aliquam at voluptate dolor voluptatum quod id, repellat blanditiis labore, porro reiciendis tempora magnam.
            Alias qui facilis iusto magni exercitationem neque commodi eos sapiente voluptatem totam eaque illo, officiis tempore in molestias laboriosam labore consectetur atque! Dicta quasi dolores necessitatibus dolorem maiores? Recusandae, perferendis.
            Voluptate impedit consequatur ducimus assumenda sequi dolore, architecto nesciunt at eum unde totam recusandae saepe eligendi soluta esse sint! Facere expedita temporibus cupiditate quam sed placeat culpa unde neque est!</p>
        </div>
        <div class="col-4">
            <img src="assets/img/users.png" alt="users.png" title="users.png" class="img-thumbnail">
        </div>
    </div>
{{> footer }}